{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<style>
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(380px);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #dc3545;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #dc3545;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #dc3545;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #dc3545;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #dc3545;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #dc3545;
    margin-right: 3px;
}

.remember-forgot a {
    color: #dc3545;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    height: 45px;
    background: #b00505;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #dc3545;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #dc3545;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}
</style>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="logo">
            <a href="home">
                <img src="img/logos.png" alt="" style="height: 60px; width: 60px; transform: translateY(-10px);">
                <img src="img/tran.png" alt="" style="height: 50px; width: 150px; transform: translateY(-10px);">
            </a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="aboutUs">About us</a></li>
                        <li><a href="schedule">Schedule</a></li>
                        <li><a href="gallery">Gallery</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a href="contact">Contacts</a></li>
                        {% if app.user==null %}
                        <a href="register" class="primary-btn" style="transform: translateX(100%);">SIGN UP</a>
                        {% endif %}
                        {% if app.user!=null %}
                        <a href=""><img src="img/profile.png" class="profile"></a>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Price Plan Section Begin -->
<section class="price-section spad set-bg" data-setbg="img/price-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <!--<p>These reports started to surface when Congress was having hearings about the<br />
                        painkiller, Vioxx. A Food and Drug Administration staff member.</p>-->
                        <br><br>
                </div>
                <div class="toggle-option">
                    <div class="wrapper">
                        <div class="form-box">
                            <h2>LOG IN</h2>
                            {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                            
                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <form method="post">
                                    <div class="input-box">        
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required>
                                        <label>Email</label>
                                    </div>
                                    <div class="input-box">        
                                        <input type="password" name="password" id="inputPassword" required>
                                        <label>Password</label>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div>
                                        <div class="remember-forgot">
                                            <label><input type="checkbox">Remember me</label>
                                            <a href="#">Forgot password?</a>
                                        </div>
                                    </div>
                                    <button type="submit" class="button">LOGIN</button>
                                    <div class="login-register">
                                        <p  style="color: white;">You don't have an account ?
                                            <a href="register" class="register-link"> Create one !</a>
                                        </p>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Price Plan Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-logo-item">
                    <div class="f-logo">
                        <img src="img/logos.png" alt="" style="height: 60px; width: 60px; transform: translateY(-10px);">
                <img src="img/tran.png" alt="" style="height: 50px; width: 150px; transform: translateY(-10px);">
                    </div>
                    <p>Despite growth of the Internet over the past seven years, the use of toll-free phone numbers
                        in television advertising continues.</p>
                    <div class="social-links">
                        <h6>Follow us</h6>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="footer-widget">
                    <h5>Our Blog</h5>
                    <div class="footer-blog">
                        <a href="#" class="fb-item">
                            <h6>Most people who work</h6>
                            <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                        </a>
                        <a href="#" class="fb-item">
                            <h6>Freelance Design Tricks How </h6>
                            <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                        </a>
                        <a href="#" class="fb-item">
                            <h6>have a computer at home have had </h6>
                            <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Program</h5>
                    <ul class="workout-program">
                        <li><a href="#">Bodybuilding</a></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Streching</a></li>
                        <li><a href="#">Weight Loss</a></li>
                        <li><a href="#">Gym Fitness</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5>Get Info</h5>
                    <ul class="footer-info">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Phone:</span>
                            (12) 345 6789
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email:</span>
                            Colorlib.info@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>Address</span>
                            Iris Watson, Box 283 8562, NY
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="ct-inside"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

{% endblock %}
