{% extends 'backend.html.twig' %}

{% block title %} Edit a user {% endblock %}

{% block body %}

<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="backendHome">
                <img src="{{asset('img/logos.png')}}" alt="" style="height: 60px; width: 60px; transform: translateX(15px);">
                <img src="{{asset('img/tran.png')}}" alt="" style="height: 50px; width: 150px; transform: translateX(15px);">
            </a>
            <div class="navbar-nav w-100">
                <br>
                <a href="backendHome" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>User managment</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="UsersList" class="dropdown-item">Users list</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
         <!-- Navbar Start -->
         <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-dark border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    {% if app.user!=null %}
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="{{asset('img/logos.png')}}" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">{{app.user.getPrenom()}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="adminProfile" class="dropdown-item">My Profile</a>
                        <a href="logout" class="dropdown-item">Log Out</a>
                    </div>
                    {% endif %}
                    {% if app.user==null %}
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="{{asset('img/logos.png')}}" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Guest</span>
                    </a>
                    {% endif %}
                    
                </div>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">My profile</h6>
                            <div class="mb-3">
                                <label for="" class="form-label">E-mail Address</label>
                                <input type="text" class="form-control mb-1" value="{{app.user.getEmail()}}" style="background-color: black;" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">First name</label>
                                <input type="text" class="form-control mb-1" value="{{app.user.getPrenom()}}" style="background-color: black;" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Last name</label>
                                <input type="text" class="form-control mb-1" value="{{app.user.getNom()}}" style="background-color: black;" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Identity number</label>
                                <input type="text" class="form-control mb-1" value="{{app.user.getCin()}}" style="background-color: black;" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Address</label>
                                <input type="text" class="form-control mb-1" value="{{app.user.getAddress()}}" style="background-color: black;" readonly>
                            </div>
                            <div class="text-right mt-3">
                                <a href="{{path('editMyProfile')}}"><button type="button" class="btn btn-primary" style="background-color: #dc3545; border-color: #dc3545; transform: translateX(-10px);">Edit profile</button>&nbsp;</a>
                                <a href="backendHome"><button type="button" class="btn btn-default" style="transform: translateX(-10px);">Cancel</button></a>
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Form End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

{% endblock %}
